# Create & Access SQLite database using Python
### What is SQLite?
It is a type of RDBMS. But single file, more simpler than MySQL but less powerful and not scalable

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 1: Create database using SQLiteÂ¶

In [2]:
# load sqlite3
import sqlite3

In [4]:
# Connecting to sqlite connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [6]:
# Cursor object
cursor_obj = conn.cursor()

In [8]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 2: Create a table in the database

In [10]:
# Creating table
table = """
create table IF NOT EXISTS INSTRUCTOR (
ID INTEGER PRIMARY KEY NOT NULL,
FNAME VARCHAR(20),
LNAME VARCHAR(20),
CITY VARCHAR(20),
CCODE CHAR(2)
);
"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 3: Insert data into table

In [12]:
# inserting just the first row of data, i.e. for instructor Rav Ahuja
cursor_obj.execute('''
insert into INSTRUCTOR values
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
''')

In [14]:
cursor_obj.execute('''
insert into INSTRUCTOR values
(2, 'Raul', 'Chong', 'Markham', 'CA'),
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')
''')

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 4: Query data in the table

In [27]:
# Fetch all data in the table
statement = '''
SELECT * FROM INSTRUCTOR
'''

cursor_obj.execute(statement)

output_all = cursor_obj.fetchall()

print('All the data')
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [23]:
# Fetch few rows from the table
statement = '''
SELECT * FROM INSTRUCTOR
'''

cursor_obj.execute(statement)

output_many = cursor_obj.fetchmany(2) # output_many variable has only the first 2 row of table data

print('The first 2 rows of Instructor Table')
for rows in output_many:
    print(rows)

The first 2 rows of Instructor Table
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [29]:
# Fetch only FNAME from the table
statement = '''
select FNAME from INSTRUCTOR
'''

cursor_obj.execute(statement)

fname_output = cursor_obj.fetchall()

print('The first names of instructors:')
for rows in fname_output:
    print(rows)

The first names of instructors:
('Rav',)
('Raul',)
('Hima',)

In [33]:
# write and execute an update statement that changes the Rav's CITY to MOOSETOWN
upd_statement = '''
update INSTRUCTOR
set CITY='Moosetown'
where FNAME='Rav'
'''
cursor_obj.execute(upd_statement)

In [70]:
# Fetch all data in the table
statement = '''
SELECT * FROM INSTRUCTOR
'''

cursor_obj.execute(statement)

output_all = cursor_obj.fetchall()

print('All the data')
for row_all in output_all:
  print(row_all)

ProgrammingError: Cannot operate on a closed database.

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 5: Retrieve data into Pandas

In [50]:
import pandas as pd

# retrieve the query results into a pandas dataframe
# see Task 1, where conn is established there. That is how pd can find our table
df = pd.read_sql_query("select * from instructor;", conn)

# to see the table via pd
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  Moosetown    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [54]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

In [57]:
df.shape

(3, 5)

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Task 6: Close the connection
We free all resources by closing the connection.
Remember that it is always important to close connections
so that we can avoid unused connections taking up resources.

In [68]:
# Close the connection
conn.close()

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Author
Eldy F. Sarif