# Assignment: Notebook for Graded Assessment

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1. Socioeconomic Indicators in Chicago
2. Chicago Public Schools
3. Chicago Crime Data

## Prepping the Notebook

In [1]:
!pip install ipython-sql
!pip install seaborn
!pip install pandas
!pip install ipython-sql prettytable
!pip install matplotlib seaborn

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Using cached prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\eldy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\eldy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\eldy\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\eldy\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Using cached prettytable-3.16.0-py3-none-any.whl (33 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlparse-0.5.3
Requirement already satisfied: seaborn in c:\users\eldy\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\eldy\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\eldy\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\eldy\anaconda3\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\eldy\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: pandas in c:\users\eldy\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\eldy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eldy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\eldy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: ipython-sql in c:\users\eldy\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\eldy\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\eldy\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\eldy\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\eldy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\eldy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\eldy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\eldy\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\eldy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: matplotlib in c:\users\eldy\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: seaborn in c:\users\eldy\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eldy\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=0.25 in c:\users\eldy\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eldy\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\eldy\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
import sqlite3
import seaborn as sns
import pandas as pd
import prettytable
import matplotlib.pyplot as plt

In [3]:
prettytable.DEFAULT = 'DEFAULT'
%load_ext sql
%matplotlib inline

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Set up Database and Tables

In [7]:
#Creating database and establish connection to it
%sql sqlite:///FinalDB.db

conn = sqlite3.connect("FinalDB.db")
cur = conn.cursor()

In [9]:
#Storing dataset into the table in the database
EconDF = pd.read_csv("ChicagoCensusData.csv")
CrimeDF = pd.read_csv("ChicagoCrimeData.csv")
SchoolDF = pd.read_csv("ChicagoPublicSchools.csv")

EconDF.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False, method="multi")
CrimeDF.to_sql("CHICAGO_CRIME_DATA", conn, if_exists='replace', index=False, method="multi")
SchoolDF.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists='replace', index=False, method="multi")

566

In [11]:
#check if the tables are created in the database
%sql select name from sqlite_master where type='table'

 * sqlite:///FinalDB.db
Done.

[('CENSUS_DATA',), ('CHICAGO_CRIME_DATA',), ('CHICAGO_PUBLIC_SCHOOLS',)]

In [15]:
%%sql
select name, type
from PRAGMA_table_info('CENSUS_DATA')
ORDER BY name;

 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NAME', 'TEXT'),
 ('COMMUNITY_AREA_NUMBER', 'REAL'),
 ('HARDSHIP_INDEX', 'REAL'),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL'),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL'),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL'),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL'),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL'),
 ('PER_CAPITA_INCOME', 'INTEGER')]

In [18]:
%%sql
select name, type
from PRAGMA_table_info('CHICAGO_CRIME_DATA')
;

 * sqlite:///FinalDB.db
Done.

[('ID', 'INTEGER'),
 ('CASE_NUMBER', 'TEXT'),
 ('DATE', 'TEXT'),
 ('BLOCK', 'TEXT'),
 ('IUCR', 'TEXT'),
 ('PRIMARY_TYPE', 'TEXT'),
 ('DESCRIPTION', 'TEXT'),
 ('LOCATION_DESCRIPTION', 'TEXT'),
 ('ARREST', 'INTEGER'),
 ('DOMESTIC', 'INTEGER'),
 ('BEAT', 'INTEGER'),
 ('DISTRICT', 'INTEGER'),
 ('WARD', 'REAL'),
 ('COMMUNITY_AREA_NUMBER', 'REAL'),
 ('FBICODE', 'TEXT'),
 ('X_COORDINATE', 'REAL'),
 ('Y_COORDINATE', 'REAL'),
 ('YEAR', 'INTEGER'),
 ('LATITUDE', 'REAL'),
 ('LONGITUDE', 'REAL'),
 ('LOCATION', 'TEXT')]

In [17]:
%%sql
select name, type
from PRAGMA_table_info('CHICAGO_PUBLIC_SCHOOLS')
ORDER BY name;

 * sqlite:///FinalDB.db
Done.

[('10th Grade PLAN (2009)', 'TEXT'),
 ('10th Grade PLAN (2010)', 'TEXT'),
 ('11th Grade Average ACT (2011)', 'TEXT'),
 ('9th Grade EXPLORE (2009)', 'TEXT'),
 ('9th Grade EXPLORE (2010)', 'TEXT'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT'),
 ('Adequate_Yearly_Progress_Made_', 'TEXT'),
 ('Average_Teacher_Attendance', 'TEXT'),
 ('COLLEGE_ENROLLMENT', 'INTEGER'),
 ('COMMUNITY_AREA_NAME', 'TEXT'),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER'),
 ('CPS_Performance_Policy_Level', 'TEXT'),
 ('CPS_Performance_Policy_Status', 'TEXT'),
 ('City', 'TEXT'),
 ('Collaborative_Name', 'TEXT'),
 ('College_Eligibility__', 'TEXT'),
 ('College_Enrollment_Rate__', 'TEXT'),
 ('Elementary, Middle, or High School', 'TEXT'),
 ('Environment_Icon', 'TEXT'),
 ('Environment_Score', 'REAL'),
 ('Family_Involvement_Icon', 'TEXT'),
 ('Family_Involvement_Score', 'TEXT'),
 ('Freshman_on_Track_Rate__', 'TEXT'),
 ('General_Services_Route', 'INTEGER'),
 ('Gr3_5_Grade_Level_Math__', 'TEXT'),
 ('Gr3_5_Grade_Level_Read__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT'),
 ('Gr6_8_Grade_Level_Math__', 'TEXT'),
 ('Gr6_8_Grade_Level_Read__', 'TEXT'),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT'),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT'),
 ('Gr_8_Explore_Math__', 'TEXT'),
 ('Gr_8_Explore_Read__', 'TEXT'),
 ('Graduation_Rate__', 'TEXT'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT'),
 ('ISAT_Exceeding_Math__', 'REAL'),
 ('ISAT_Exceeding_Reading__', 'REAL'),
 ('ISAT_Value_Add_Color_Math', 'TEXT'),
 ('ISAT_Value_Add_Color_Read', 'TEXT'),
 ('ISAT_Value_Add_Math', 'REAL'),
 ('ISAT_Value_Add_Read', 'REAL'),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT'),
 ('Instruction_Icon', 'TEXT'),
 ('Instruction_Score', 'REAL'),
 ('Latitude', 'REAL'),
 ('Leaders_Icon', 'TEXT'),
 ('Leaders_Score', 'TEXT'),
 ('Link', 'TEXT'),
 ('Location', 'TEXT'),
 ('Longitude', 'REAL'),
 ('NAME_OF_SCHOOL', 'TEXT'),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT'),
 ('Net_Change_PLAN_and_ACT', 'TEXT'),
 ('Network_Manager', 'TEXT'),
 ('Parent_Engagement_Icon', 'TEXT'),
 ('Parent_Engagement_Score', 'TEXT'),
 ('Parent_Environment_Icon', 'TEXT'),
 ('Parent_Environment_Score', 'TEXT'),
 ('Phone_Number', 'TEXT'),
 ('Pk_2_Literacy__', 'TEXT'),
 ('Pk_2_Math__', 'TEXT'),
 ('Police_District', 'INTEGER'),
 ('Rate_of_Misconducts__per_100_students_', 'REAL'),
 ('SAFETY_SCORE', 'REAL'),
 ('Safety_Icon', 'TEXT'),
 ('School_ID', 'INTEGER'),
 ('State', 'TEXT'),
 ('Street_Address', 'TEXT'),
 ('Students_Passing__Algebra__', 'TEXT'),
 ('Students_Taking__Algebra__', 'TEXT'),
 ('Teachers_Icon', 'TEXT'),
 ('Teachers_Score', 'TEXT'),
 ('Track_Schedule', 'TEXT'),
 ('Ward', 'INTEGER'),
 ('X_COORDINATE', 'REAL'),
 ('Y_COORDINATE', 'REAL'),
 ('ZIP_Code', 'INTEGER')]

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

## Problems

#### 1. Find the total number of crimes recorded in the CRIME table

In [21]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

#### 2. List community area names and numbers with per capita income less than 11000.

In [23]:
%%sql
SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PER_CAPITA_INCOME
FROM CENSUS_DATA
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

#### 3. List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [30]:
%%sql
select CASE_NUMBER, DESCRIPTION from CHICAGO_CRIME_DATA
where DESCRIPTION like "%minor%";

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

#### 4. List all kidnapping crimes involving a child?

In [31]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE LIKE "%KIDNAP%"
AND DESCRIPTION LIKE "%CHILD%"

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

#### 5. List the kind of crimes that were recorded at schools. (No repetitions)

In [33]:
%%sql
SELECT DISTINCT PRIMARY_TYPE
FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%";

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

#### 6. List the type of schools along with the average safety score for each type

In [35]:
%%sql
SELECT `Elementary, Middle, or High School`, AVG(SAFETY_SCORE)
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY `Elementary, Middle, or High School`;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

#### 7. List 5 community areas with highest % of households below poverty line

In [36]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC NULLS LAST
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

#### 8. Which community area is most crime prone? Display the coumminty area number only

In [38]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

#### 9. Use a sub-query to find the name of the community area with highest hardship index

In [39]:
%%sql
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX
FROM CENSUS_DATA
WHERE HARDSHIP_INDEX =
(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

#### 10. Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER IN(
    SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1
);

 * sqlite:///FinalDB.db
Done.

[('Austin', 1)]